# Ao baixar o projeto, renomear o arquivo .env.example para .env
# Comando para instalar as dependências: pnpm install
# Comando para criar ou atualizar o prisma: npx prisma generate

# Comando para abrir o prisma studio: npx prisma studio

# Utilizei um banco de dados não relacional, o MongoDB https://www.mongodb.com/products/platform/atlas-database 

# O DATABASE_URL é o link do banco de dados, você pode criar um banco de dados no mongodb atlas, e copiar o link do banco de dados.

# Você precisa criar uma chave para a variável NEXTAUTH_SECRET, você pode gerar uma chave no site https://www.md5hashgenerator.com/ 

# GOOGLE_CLIENT_ID e GOOGLE_CLIENT_SECRET você pode gerar no console do google https://console.cloud.google.com/apis/credentials, essas variáveis estão no nextauth, na sua documentação, escolha o provider que você deseja utilizar, no meu caso foi o google, e lá tem todo o passo a passo. Para configuração do google, o projeto tem um arquivo ajuda-config-google.pdf, nele tem todo o passo a passo para configurar o google.

# O NODE_ENV é o ambiente que você está utilizando, no meu caso estou utilizando o ambiente de desenvolvimento, mas você pode utilizar o ambiente de produção também.

DATABASE_URL= 
NODE_ENV=development
NEXTAUTH_URL=
HOST_URL=
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=